/* AddCategory.css */
.add-category {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.add_category_div {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"] ,  
input[type="number"] 
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
}

textarea {
  height: 100px;
}

.add_category_button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add_category_button:hover {
  background-color: var(--secondary-color);
}

/* Back Button Styles */
.back_button_add_catogory {
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.3s;
}

.back_button_add_catogory:hover {
  transform: translateX(-3px);
}
